@import "colors.css";

.searchBoxBlock {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    background: var(--primary-gray-color);
}

.buttonsBlock {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.inputBlock {
    width: 200px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    .inputBlock {
        width: 170px;
    }

    .buttonsBlock {
        width: 180px;
    }
}
